# Server Configuration
PORT=3000
NODE_ENV=development

# JWT Configuration
JWT_SECRET=7Dc5tw0Ionm3XPZZfN0NOml3z9FMfmpgXwovR9fp6ryDIoGRM8EPHAB6iHsc9fc
JWT_EXPIRES_IN=24h

# Database Configuration API (to fetch DB config)
DB_CONFIG_API_URL=http://localhost:5000/api/config/database
DB_CONFIG_API_TOKEN=your-api-token-here

# Default Database Configuration (fallback)
DEFAULT_DB_TYPE=mssql
DEFAULT_DB_HOST=localhost
DEFAULT_DB_PORT=1433
DEFAULT_DB_NAME=your_database
DEFAULT_DB_USER=sa
DEFAULT_DB_PASSWORD=your_password




# ─── Whapi.Cloud Configuration ───────────────────────────────────────
# WHAPI_TOKEN=""  #Anil Sir

WHAPI_TOKEN="gs0NixC3CQO6HRFDLMmNBllxuFDzMYWW"
WHAPI_API_URL=https://gate.whapi.cloud
REDIS_URL="redis://localhost:6379"

APPID="005bd4eb5f41c01000000000b"
APPKEY="K005VR1AcISm5RxUExxr9yqobobfu90"
BUCKETID="db0d84befba50f1491bc0011"
COMPANYNAME="mowara"
DOCTYPE="POD"



